@use "../globals" as *;
@use "sass:color";

.adminFooter {
    background-color: $green;
    color: $eggshell;
    padding: 1.5rem 0;
    margin-top: auto;

    .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 2rem;
        text-align: center;
    }

    p {
        margin: 0;
        font-size: 0.9rem;
        opacity: 0.8;
    }
}