@use "../globals" as *;

.section-fonts-in-use {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .section-content {
    display: flex;
    gap: 2rem;
    color: $green;
    width: 100%;
    flex: 1;
    min-height: 0;

    .fonts-in-use-items {
      padding-top: 3rem;
      padding-bottom: 2rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-height: 0;
    }
  }
}