@use "../app/globals" as *;
@use "sass:color";

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: color.adjust($eggshell, $alpha: -0.9);
    z-index: 10;

    .site-line {
        width: 100%;
        height: 1px;
        background-color: currentColor;
    }
}

.footer-content {
    display: flex;
    // gap: 2rem;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 3rem;
}

.social-media-list {
    display: flex;
    gap: 1.5rem;
    width: $default-header-width;
}

.newsletter-form {
    display: flex;
    align-items: center;
    border: 1px solid currentColor;
    border-radius: 100px;
    background-color: inherit;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    width: 350px;

    .newsletter-input {
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        color: $eggshell;
        font-size: 1rem;
        text-transform: lowercase;
        letter-spacing: 1px;

        &::placeholder {
            color: currentColor;
        }
    }

    .newsletter-btn {
        background-color: $eggshell;
        color: $green;
        border: none;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;

        svg {
            transition: transform 0.3s ease;
        }

        &:hover {
            svg {
                transform: translateX(4px);
            }
        }
    }
}

.message {
    margin-top: 20px;
    transition: 0.2s ease all;

    &.success-message {
        color: $green;
    }

    &.error-message {
        color: $mustard;
    }
}