@use "../app/globals" as *;
@use "sass:color";

.flex {
    display: flex;
    gap: 1.2rem;
}

.header {
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: color.adjust($eggshell, $alpha: -0.9);
    z-index: 10;
    transition: transform 0.3s ease, color 0.8s ease;
    will-change: transform;

    .content-header {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-left: 3rem;
        height: 100%;
    }
}

.logo {
    text-transform: uppercase;
    width: $default-header-width;
}

.nav {
    display: flex;
    gap: 2rem;
}