@use "../../globals" as *;
@use "sass:color";



.list {
    h2 {
        margin-bottom: 1.5rem;
        color: $green;
    }
}

.empty {
    text-align: center;
    padding: 3rem;
    color: rgba($warning, 0.6);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}