@use "../../app/globals.scss" as *;
@use "sass:color";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $green;

    h1 {
        margin: 0;
        font-size: 1.5rem;
        color: $green;
    }

    .btnAction {
        background-color: $green;
        color: $eggshell;
        border: 1px solid $green;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: color.adjust($green, $lightness: -5%);
        }
    }
}