@use "../../app/globals.scss" as *;
@use "sass:color";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $green;

    h1 {
        margin: 0;
        font-size: 1.5rem;
        color: $green;
    }

    .btnAction {
        border: none;
        font-weight: 500;
        cursor: pointer;
        font-weight: bold;
    }
}