@use "../../app/globals.scss" as *;
@use "sass:color";

.card {
    .info::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $green;
        margin-bottom: 1rem;
        border-radius: 1px;
    }

    .previewWrapper {
        margin-bottom: 1rem;

        .previewImage {
            width: 100%;
            height: auto;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    h3 {
        margin: 0 0 0.5rem 0;
        font-size: 1.25rem;
        color: $green;
        font-weight: bold;
    }

    .designer,
    .date {
        margin: 0.25rem 0;
        font-size: 0.9rem;
        color: rgba($green, 0.7);
    }
}